* {
    color: black;
    background-color: rgb(238, 249, 255);
    font-family: helvetica;
}

header {
    background-color: aquamarine;
    width: 100%;
    margin: 0px;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: aquamarine;
    border: 2px solid black;
    padding: 0px 15px;
}

#headshot {
    width: 190px;
    height: 190px;
    border: 1px solid black;
    border-radius: 50%;
    margin: 100px 50px 40px 50px;
}

#name {
    color: navy;
}

#job-title {
    margin: 5px;
    color: navy;
    font-weight: 500;
}

#statement {
    margin: 45px 10px;
}

#software-experience {
    margin: 10px;
}

#resume {
    text-align: center;
    margin: 50px;
}

#resume a {
    color: black;
    font-size: 18px;
    background-color: green;
    border-top: 1.5px solid gray;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid gray;
    border-radius: 5px;
    padding: 7.5px;
}

#resume a:hover {
    color: green;
    background-color: black;
    border-top: 1.5px solid black;
    border-right: 1.5px solid gray;
    border-bottom: 1.5px solid white;
    border-left: 1.5px solid gray;}

#contact-info {
    text-align: center;
}

#contact-info a {
    margin: 10px;
    padding: 10px;
    border-top: 1.5px solid gray;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-left: 1.5px solid gray;   
    background-color: green;
    color: black;
    border-radius: 10%;
}

#contact-info a:hover {
    color: green;
    background-color: black;
    border-top: 1.5px solid black;
    border-right: 1.5px solid gray;
    border-bottom: 1.5px solid white;
    border-left: 1.5px solid gray;    
}

a {
    color:green;
}

a:hover {
    color: black;
}

h4 {
    background-color: gray;
}

li {
    list-style: square;
    font-family: helvetica;
}

p {
    font-family: helvetica;;
}