* {
    color: black;
    background-color: rgb(238, 247, 243);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    margin: 20px auto;
    padding: 20px;
    display: flexbox;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: rgb(3, 71, 3);
    width: 100%;
    position: fixed;
    border-radius: 0%;
    top: 0;
    padding: 20px;
    margin: 0px;
}

.bubble,
footer div {
    background-color: rgb(146, 196, 202);
    z-index: 1;
    width: 90%;
}

#headshot {
    width: 200px;
    border: 10px solid rgba(10, 116, 134, 0.219);
    border-radius: 50%;
}

#name {
    text-transform: uppercase;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    padding: 5px 20px;
    margin: 5px 20px;
}

#job-title {
    font-weight: 500;
    display: inline-block;
    font-size: 20px;
    text-align: right;
    padding: 5px 20px;
    margin: 5px 20px;
}

#statement p {
    font-size: 20px;
}

#software-experience {
    font-size: 20px;
}

li {
    list-style: square;
    background-color: rgb(146, 196, 202);
    z-index: 1;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}

p {
    font-size: 20px;
}

footer {
    background-color: rgb(3, 71, 3);
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0%;
}

#contact-info {
    background-color: rgb(3, 71, 3);
    text-align: center;
}

div a {
    background-color: rgb(3, 71, 3);
    text-align: center;
}